main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

main > div.container-anotacoes {
width: 100%;
margin-top: 15px;
}

main > div section.section-anotacao {
    margin: 15px auto 0 auto;
    animation: criar-section 0.3s forwards;
    display: flex;
    justify-content: center;
}

section.section-anotacao p.anotacao {
    margin-bottom: 2px;
    word-break: break-all;
    width: 85%;
    font-size: 1.4rem;
    margin: 0 auto auto 3%;
}

img.img-lixeira {
    max-width: 100%;
    width: 37px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
}

@keyframes criar-section{
    0% {
        transform: translateY(-25px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}