section.section-apagar-anotacao {
    border-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding: 15px;
    position: fixed;
    left: 25%;
    top: 40vh;
    background: #565252 ;
}

section.section-apagar-anotacao > div {
    margin: 60px auto 10px auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

section.section-apagar-anotacao>div>button {
    padding: 15px;
    color: #ffff;
    max-width: 170px;
    min-width: 80px;
    width: 38%;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    word-break: break-all;
}

section.section-apagar-anotacao>p {
    text-align: center;
}

section.section-apagar-anotacao>div>button:nth-child(1) {
    background-color: #FF0000;
}

section.section-apagar-anotacao>div>button:nth-child(1):hover {
    background-color: #a30303;
}

section.section-apagar-anotacao>div>button:last-child {
    background-color: #4CAF50;
}

section.section-apagar-anotacao>div>button:last-child:hover {
    background-color: #0d9211;
}

section.animacao-apagar-anotacao {
    animation: animacao-apagar-anotacao 0.3s forwards;
}

@keyframes animacao-apagar-anotacao {
    0% {
        opacity: 0;
        transform: translateY(10vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}