header {
    padding: 25px;
    text-align: center;
    background: #020659;
    border-radius: 5px 5px 0 0;
    font-size: 1rem;
}

header h1 {
    font-weight: 300;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form div {
margin-top: 5px;
}

label {
    font-size: 1.2rem;
    cursor: pointer;
}

form div > input {
    padding: 10px 0;
    font-size: 1.3rem;
}

form input:nth-child(1) {
    background: none;
    width: 65%;
    color: #ffff;
    border: none;
    border-bottom: 1px solid #c4c4c4;
}

input:nth-child(1)::placeholder {
    color: #c4c4c4;
}

input:nth-child(1):focus {
    outline: none;
}

input.btn-gerar-anotacao {
    width: 31%;
    margin-left: 18px;
    background: #020659;
    color: #ffff;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

input.btn-gerar-anotacao:disabled {
    background: #b7b8ca;
    color: #76767c;
}

@media screen and (max-width:1050px) {
    form{
        flex-direction: column;
    }

    form div {
        margin-top: 0;
    }

    form div input:nth-child(1) {
        margin-top: 5px !important;
    }

    form input{
        margin: 10px 0 !important;
        width: 100% !important;
    }
}