header {
    padding: 25px;
    display: flex;
    justify-content: center;
    background: #020659;
    border-radius: 5px 5px 0 0;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form div {
margin-top: 5px;
}

label {
    font-size: 1.2rem;
    margin-right: 10px;
    cursor: pointer;
}

form div > input {
    padding: 10px 0;
    font-size: 1.3rem;
}

input:nth-child(1) {
    background: none;
    color: #ffff;
    border: none;
    border-bottom: 1px solid #c4c4c4;
}

input:nth-child(1)::placeholder {
    color: #c4c4c4;
}

input:nth-child(1):focus {
    outline: none;
}

input.btn-gerar-anotacao {
    margin-left: 18px;
    background: #020659;
    color: #ffff;
    padding: 10px;
    border-radius: 7px;
    border: none;
}