header {
    height: 40vh;
    display: flex;
    justify-content: center;
    background: url('../image/montanha-preta.png') center center;
    background-size: cover;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.7rem;
    margin-right: 10px;
    cursor: pointer;
}

input {
    font-size: 1.2rem;
    padding: 10px;
}

input.btn-gerar-anotacao {
    margin-left: 15px;
}