@import url('anotacoes.css');
@import url('form.css');
@import url('apagar-anotacao.css');
@import url('mobile.css');
@import url('container-acao-todas-anotacoes.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #F2F2F2;
    font-size: 62.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-pagina {
    width: 60%;
    max-width: 700px;
    min-width: 260px;
    border-radius: 5px;
    background: #6A73A6;
    padding-bottom: 25px;
    margin: 30px auto;
}


body main div section, main > div.acao-todas-anotacoes, form {
    min-width: 80px;
    max-width: 550px;
    width: 85%;
}    

body main div section {
    padding: 10px 0 1px 0;
    position: relative;
    border-bottom:1px solid #c4c4c4 ;
    
}

.escurecer-fundo {
    background: rgba(0, 0, 0, 0.8);
}

.deixar-transparente {
    opacity: 0.1;
}

.none {
    display: none !important;
}

input.checkbox {
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .conteudo-pagina {
        width: 90%;
    }
}