section.section-apagar-anotacao {
    border-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9D9D9;
    margin: 120px auto 0 auto;
    width: 30%;
    padding: 15px;
    min-width: 120px;
    max-width: 500px;
}

section.section-apagar-anotacao > div {
margin: 60px auto 10px auto;
width: 100%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap: 15px;
}

section.section-apagar-anotacao > div > button {
    padding: 15px;
    max-width: 170px;
    min-width: 80px;
    width: 38%;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #ffff;
    word-break: break-all;
}

section.section-apagar-anotacao > p {
    text-align: center;
}

section.section-apagar-anotacao > div > button:nth-child(1) {
    background-color: #FF0000;

}

section.section-apagar-anotacao > div > button:last-child {
    background-color: #4CAF50;
}

section.none {
    display: none;
}